<header>
    <nav>
        <a href="/">OnePoll</a>
        <ul>
            <li><a href="/poll/create">Create Poll</a></li>
            <li><a href="/account/register">Account</a></li>
        </ul>
    </nav>
</header>