<h2>Create</h2>
<% if (typeof error !== 'undefined') { %>
    <p style="color: red;"><%= error %></p>
<% } %>
<form action="/poll/create" method="POST">
    <label for="title">Question:</label>
    <input type="text" id="title" name="title" required>
    
    <div id="options-container">
        <label for="option1">Option 1:</label>
        <input type="text" id="option1" name="options[]" required>
        
        <label for="option2">Option 2:</label>
        <input type="text" id="option2" name="options[]" required>
    </div>
    
    <button type="button" id="add-option-button">Add Option</button>
    <button type="submit">Create Poll</button>
</form>

<!-- Link to the external JavaScript file -->
<script src="script.js"></script>
